$screens: (
  xs: 400px,
  s: 600px,
  m: 900px,
  l: 1024px,
  xl: 1280px,
  xxl: 1680px,
);

$colors: (
  pink: #ff2e6c,
  beige: #fffbf5,
  blue: #1027fa,
  grey: #3f3f3f,
  lightgrey: #fbf9f6,
);
